<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <p>Login here</p>

  <%+ extend('layout') %>

  <%+ section('content') %>

  <!--   Icon Section   -->

  <div class="center-align">


    <form class="col s12" id="signup" method="post" action="/auth/login">


    <div class="row">
      <div class="input-field col s12">
        <input name="email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
     <div class="input-field col s12">
       <input name = "password" id="password" type="password" class="validate">
       <label for="password">Password</label>
     </div>
    </div>

    <div class="row">
      <button class="waves-effect waves-light btn-large" type="submit" class="mdl-button mdl-js-button">Log in</button>
    </div>

    </form>

    </div>

    

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large" style="color:#26a69a";>camera
</i></h2>
        <h5 class="center">Scan Products</h5>

        <p class="light">
          Use your mobile camera to scan the products and store them in the application
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text" ><i class="material-icons large" style="color:#26a69a";>timer</i></h2>
        <h5 class="center">Alert when products are about to go off</h5>

        <p class="light">
          Get alerted when the products get close to the expiry date
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons large" style="color:#26a69a";>shopping_cart</i></h2>
        <h5 class="center">Avoid wasting food that goes off prematurely</h5>

        <p class="light">The goal is all about avoiding any waste by letting food go beyond the expiry date</p>
      </div>
    </div>
  </div>


  <div class="container">
    <br><br>
    <!--<h1 class="header center orange-text">Welcome to Grocery Allstars</h1>-->
    <div class="row center">
      <!--<h5 class="header col s12 light">Please register or signup to scan your groceries</h5>-->
    </div>
    <!-- <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div> -->


    <br><br>

  </div>



  <br><br>


</div>
<br><br>
</div>
  <%+ endSection %>

  </body>

</html>
