<%+ extend('layout') %>

<%+ section('content') %>
<div class="row">
<form class="col s12" id="signup" method="post" action="/auth/register">
<div class="row">
 <div class="input-field col s6">
   <input name = "firstName" id="firstName" type="text" class="validate">
   <label for="firstName">First Name</label>
 </div>
 <div class="input-field col s6">
   <input name = "lastName" id="lastName" type="text" class="validate">
   <label for="lastName">Last Name</label>
 </div>

</div>

<div class="row">
 <div class="input-field col s12">
   <input name = "password" id="password" type="password" class="validate">
   <label for="password">Password</label>
 </div>
</div>
<div class="row">
 <div class="input-field col s12">
   <input name="email" id="email" type="email" class="validate">
   <label for="email">Email</label>
 </div>
  <button class="waves-effect waves-light btn-large" type="submit" class="mdl-button mdl-js-button">Sign up</button>
  
</div>
</form>
</div>
<%+ endSection %>
