<%+ extend('layout') %>
<%+ section('content') %>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->





<dialog class="mdl-dialog">

        <form action="/products/create" method="post">
            <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="name" id="name">
                    <label class="mdl-textfield__label" for="name">Name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="barcode" id="barcode">
                    <label class="mdl-textfield__label" for="barcode">Barcode</label>
                </div>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <label id="view-source" for="file-upload" class="f-upload mdl-button mdl-js-button">
                    Scan
                </label>
                <input id="file-upload" type="file" accept="video/*;capture=camcorder"/>
                <button type="submit" class="mdl-button mdl-js-button">Submit</button>
                <button type="button" class="mdl-button mdl-js-button close">Cancel</button>
            </div>
        </form>


</dialog>




  <!-- <form action="/products/create" method="post">

      <div class="mdl-dialog__content">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="name" id="name">
              <label class="mdl-textfield__label" for="name">Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="barcode" id="barcode">
              <label class="mdl-textfield__label" for="barcode">Barcode</label>
          </div>
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <label id="view-source" for="file-upload" class="f-upload mdl-button mdl-js-button">
              Scan
          </label>
          <input id="file-upload" type="file" accept="video/*;capture=camcorder"/>
          <button type="submit" class="mdl-button ">Submit</button>
          <button type="button" class="mdl-button  close">Cancel</button>
      </div>
  </form> -->








<%+ endSection %>
