<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1><%= title %></h1><br>
    <form id="login" name="login" method="get" action="/enter">
      <h2>Login</h2>
      <label for="email">Email Address</label>
      <input class="text" name="email" type="email"/>
      <label for="password">Password</label>
      <input name="password" type="password"/>
      <input class="btn" type="submit" value="Log in"/>
    </form>

  </body>
</html>
