<%+ extend('layout') %>
<%+ section('content') %>
<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->




<div class="container">
  <br><br>
  <h1 class="header center orange-text">Welcome to Grocery Allstars</h1>
  <div class="row center">
    <h5 class="header col s12 light">Please register or signup to scan your groceries</h5>
  </div>
  <!-- <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
  </div> -->


  <br><br>

</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large" style="color:#26a69a";>camera
</i></h2>
          <h5 class="center">Scan Products</h5>

          <p class="light">
            Use your mobile camera to scan the products and store them in the application
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text" ><i class="material-icons large" style="color:#26a69a";>timer</i></h2>
          <h5 class="center">Alert when products are about to go off</h5>

          <p class="light">
            Get alerted when the products get close to the expiry date
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large" style="color:#26a69a";>shopping_cart</i></h2>
          <h5 class="center">Avoid wasting food that goes off prematurely</h5>

          <p class="light">The goal is all about avoiding any waste by letting food go beyond the expiry date</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>




  <!-- <form action="/products/create" method="post">

      <div class="mdl-dialog__content">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="name" id="name">
              <label class="mdl-textfield__label" for="name">Name</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="barcode" id="barcode">
              <label class="mdl-textfield__label" for="barcode">Barcode</label>
          </div>
      </div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
          <label id="view-source" for="file-upload" class="f-upload mdl-button mdl-js-button">
              Scan
          </label>
          <input id="file-upload" type="file" accept="video/*;capture=camcorder"/>
          <button type="submit" class="mdl-button ">Submit</button>
          <button type="button" class="mdl-button  close">Cancel</button>
      </div>
  </form> -->








<%+ endSection %>
