<%+ extend('layout') %>
<%+ section('content') %>
<div class="row">
    <form id="scan_form" action="/products/create" class="col s12" method="post">

        <div class="modal-content">
            <section id="container" class="container">
                <div class="controls">
                    <label id="view-source" for="file-upload"
                           class="waves-effect waves-light btn-large f-upload mdl-button mdl-js-button right h2">SCAN
                        <i class="material-icons right">camera</i>
                    </label>
                    <input id="file-upload" type="file" accept="video/*;capture=camcorder"/>

                </div>
                <div id="product_info">
                </div>
                <!--<div id="result_strip">-->
                <!--<ul class="thumbnails"></ul>-->
                <!--</div>-->
                <!--<div id="interactive" class="viewport"></div>-->
                <!--<div id="debug" class="detection"></div>-->
                <div>
                    <img id="imageDisplay" src=""/>
                </div>
                <br>
                <div class="row">
                    <div class="row">
                        <div class="col s12">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <label for="barcode">Barcode</label>
                            <input class="validate" type="text" name="barcode" id="barcode">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label for="expiry">Expiry Date</label>
                            <input type="date" name="expiry" id="expiry">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label for="productType">Product Type</label>
                            <select id="productType">
                                <option value="general">General</option>
                                <option value="dairy">Dairy</option>
                                <option value="meat">Meat</option>
                                <option value="fruit">Fruit</option>
                                <option value="vegetables">Vegetables</option>

                            </select>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" type="text" name="thumbnail_url" id="thumbnail_url">

                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <button type="submit" ata-target="modal1" class="waves-effect waves-light btn modal-trigger">
                Submit
            </button>
            <button type="button" class="modal-action modal-close waves-effect waves-light btn mdl-button mdl-js-button">Cancel
            </button>
        </div>
    </form>
</div>

<script>
  $(document).ready(function () {
    $('#productType').material_select();
  });
</script>
<%+ endSection %>